# <font color='blue'>Curso de Extensão: Introdução a Linguagem Python para Ciência de Dados - Biblioteca Pandas</font>

In [5]:
#importando a biblioteca pandas e numpy
import pandas as pd
import numpy as np

In [6]:
#!pip install pandas

### Criando um dataframe a partir de um dicionário

In [8]:
venda_dict = {'data': ['15/02/2021', '16/02/2021'],
              'valor': [500, 300],
              'produto': ['feijao', np.nan],
              'qtde': [50, 70],
             }
print(venda_dict)

{'data': ['15/02/2021', '16/02/2021'], 'valor': [500, 300], 'produto': ['feijao', nan], 'qtde': [50, 70]}

In [13]:
vendas_df = pd.DataFrame(venda_dict)
#print(vendas_df)
display(vendas_df)
vendas_df.head()

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300     NaN    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300     NaN    70

In [ ]:
vendas_df.describe()

            valor       qtde
count    2.000000   2.000000
mean   400.000000  60.000000
std    141.421356  14.142136
min    300.000000  50.000000
25%    350.000000  55.000000
50%    400.000000  60.000000
75%    450.000000  65.000000
max    500.000000  70.000000

In [ ]:
#Verifica se o dataframe possui valores nulos
vendas_df.isnull()

    data  valor  produto   qtde
0  False  False    False  False
1  False  False     True  False

In [15]:
display(vendas_df)
#Substitui um valor específico
new_vendas_df=vendas_df.replace({'qtde':{50:45},'valor':{500:450}})
new_vendas_df

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300     NaN    70

         data  valor produto  qtde
0  15/02/2021    450  feijao    45
1  16/02/2021    300     NaN    70

### Visualização dos Dados

In [ ]:
print(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300     NaN    70

In [ ]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300     NaN    70

### Importando arquivos e bases de dados

In [16]:
#!pip install openpyxl

In [20]:
vendas_df = pd.read_excel("Vendas.xlsx")

In [ ]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [ ]:
print(vendas_df)

       Código Venda       Data              ID Loja            Produto  \
0                 1 2019-01-01   Iguatemi Esplanada     Sapato Estampa
1                 1 2019-01-01   Iguatemi Esplanada           Camiseta
2                 1 2019-01-01   Iguatemi Esplanada      Sapato Xadrez
3                 2 2019-01-02       Norte Shopping            Relógio
4                 2 2019-01-02       Norte Shopping       Chinelo Liso
...             ...        ...                  ...                ...
93905         65012 2019-11-30  Shopping Vila Velha     Mochila Xadrez
93906         65013 2019-11-30    Ribeirão Shopping  Pulseira Listrado
93907         65013 2019-11-30    Ribeirão Shopping     Cueca Listrado
93908         65014 2019-11-30     Shopping Morumbi     Pulseira Linho
93909         65014 2019-11-30     Shopping Morumbi      Casaco Xadrez

       Quantidade  Valor Unitário  Valor Final
0               1             358          358
1               2             180          360
2               1             368          368
3               3             200          600
4               1              71           71
...           ...             ...          ...
93905           2             283          566
93906           2              79          158
93907           3              67          201
93908           5             114          570
93909           4             259         1036

[93910 rows x 7 columns]

### Resumos de Visualização de Dados simples e úteis

In [ ]:
#Mostra os 5 primeiros registros do dataframe
vendas_df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [ ]:
vendas_df.shape

(93910, 7)

In [ ]:
vendas_df.describe()

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [ ]:
#Serie é uma coluna do dataframe
#São dois colchetes pois está pegando mais de uma coluna do dataframe
produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### Método .loc para pegar partes do Dataframe [linhas,colunas]

In [ ]:
# pegar uma única linha
display(vendas_df.loc[10])

Código Venda                        8
Data              2019-01-02 00:00:00
ID Loja             Iguatemi Campinas
Produto                 Terno Estampa
Quantidade                          5
Valor Unitário                    706
Valor Final                      3530
Name: 10, dtype: object

In [ ]:
# pegar os dados da linha 5 a linha 50 linha coluna
display(vendas_df.loc[5:50])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
10,8,2019-01-02,Iguatemi Campinas,Terno Estampa,5,706,3530
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294
12,9,2019-01-02,Shopping Center Leste Aricanduva,Casaco Xadrez,2,259,518
13,10,2019-01-02,Passei das Águas Shopping,Camiseta Xadrez,2,200,400
14,10,2019-01-02,Passei das Águas Shopping,Cueca Liso,1,69,69
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180
16,11,2019-01-02,Shopping Recife,Calça Listrado,2,181,362
17,11,2019-01-02,Shopping Recife,Camisa Estampa,1,113,113
18,12,2019-01-02,Shopping Midway Mall,Short Xadrez,4,100,400
19,12,2019-01-02,Shopping Midway Mall,Sunga Liso,2,114,228
20,14,2019-01-02,Bourbon Shopping SP,Casaco Liso,2,255,510
21,17,2019-01-02,Iguatemi Campinas,Chinelo Liso,1,71,71
22,18,2019-01-02,Rio Mar Shopping Fortaleza,Camisa Estampa,1,113,113
23,19,2019-01-02,Passei das Águas Shopping,Relógio Listrado,1,218,218
24,19,2019-01-02,Passei das Águas Shopping,Calça Linho,2,211,422
25,20,2019-01-02,Shopping Center Interlagos,Mochila Liso,1,276,276
26,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232
27,22,2019-01-02,Parque Dom Pedro Shopping,Meia,1,30,30
28,22,2019-01-02,Parque Dom Pedro Shopping,Meia Linho,2,78,156
29,22,2019-01-02,Parque Dom Pedro Shopping,Calça Liso,2,190,380
30,23,2019-01-02,Center Shopping Uberlândia,Bermuda Estampa,3,169,507
31,23,2019-01-02,Center Shopping Uberlândia,Chinelo Liso,3,71,213
32,26,2019-01-02,Shopping União de Osasco,Chinelo,2,60,120
33,27,2019-01-02,Rio Mar Shopping Fortaleza,Sunga Linho,1,149,149
34,27,2019-01-02,Rio Mar Shopping Fortaleza,Terno Listrado,2,709,1418
35,29,2019-01-02,Shopping Center Leste Aricanduva,Gorro Liso,4,92,368
36,31,2019-01-02,Shopping Eldorado,Casaco Estampa,3,256,768
37,31,2019-01-02,Shopping Eldorado,Pulseira,3,70,210
38,31,2019-01-02,Shopping Eldorado,Gorro Linho,1,124,124
39,31,2019-01-02,Shopping Eldorado,Cinto Linho,3,248,744
40,32,2019-01-02,Shopping Vila Velha,Polo Liso,1,137,137
41,32,2019-01-02,Shopping Vila Velha,Polo Listrado,2,149,298
42,33,2019-01-02,Shopping Midway Mall,Camisa,1,100,100
43,33,2019-01-02,Shopping Midway Mall,Meia Xadrez,3,41,123
44,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363
45,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236
46,35,2019-01-02,Parque Dom Pedro Shopping,Relógio,2,200,400
47,35,2019-01-02,Parque Dom Pedro Shopping,Sapato,2,350,700
48,36,2019-01-02,Rio Mar Shopping Fortaleza,Meia Listrado,1,37,37
49,38,2019-01-02,Shopping Vila Velha,Meia Xadrez,3,41,123
50,38,2019-01-02,Shopping Vila Velha,Relógio,1,200,200

In [ ]:
# pegar linhas que correspondem a uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
display(vendas_norteshopping_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [ ]:
# pegar várias linhas e colunas usando o loc
#loc[linhas,colunas]
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [ ]:
# pegar 1 valor específico
print(vendas_df.loc[30,'Produto'])

Bermuda Estampa

### Adicionar colunas no Dataframe

In [ ]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.02
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,11.32
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,3.16
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,4.02
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,11.40
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,20.72

In [ ]:
# criar uma coluna com valor padrão
#.loc[linhas,colunas]
#vendas_df['Imposto'] = 0
vendas_df.loc[:, "Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,11.32,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,3.16,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,4.02,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,11.40,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,20.72,0

### Adicionar linhas em Dataframe

In [ ]:
#Lendo outro arquivos de vendas para um novo dataframe
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
display(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [ ]:
vendas_df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,11.32,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,3.16,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,4.02,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,11.40,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,20.72,0

In [ ]:
#Adiciona o Dataframe vendas_dez_df no final do dataframe vendas_df
#Método append sempre adiciona
vendas_df_2 = vendas_df.append(vendas_dez_df)
display(vendas_df_2)

C:\Users\RENATA~1.PAR\AppData\Local\Temp/ipykernel_15432/3752098440.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df_2 = vendas_df.append(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

In [ ]:
#Excluir a linha 0
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,4.96,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Tratar Valores Vazios em Dataframe

In [ ]:
display(vendas_df_2)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [ ]:
# preencher valores vazios
# preencher com a média da coluna Comissão (fillna), arredondando os valores para 2 casas decimais
#vendas_df_ap['Comissão'] = vendas_df_ap['Comissão'].fillna(0)

vendas_df_2['Comissão'] = np.round(vendas_df_2['Comissão'].fillna(vendas_df_2['Comissão'].mean()),2)
display(vendas_df_2)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,8.30,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,8.30,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,8.30,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,8.30,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,8.30,NaN

In [ ]:
#Método append sempre adiciona
vendas_df_3 = vendas_df.append(vendas_dez_df)
display(vendas_df_3)

C:\Users\RENATA~1.PAR\AppData\Local\Temp/ipykernel_15432/627237997.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df_3 = vendas_df.append(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [ ]:
# preencher com o último valor (ffill)
vendas_df_3 = vendas_df_3.ffill()
display(vendas_df_3)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.72,0.0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.72,0.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.72,0.0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.72,0.0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.72,0.0

In [ ]:
#Resetar os indices do Dataframe
vendas_df_2.reset_index(inplace = True, drop = True)
display(vendas_df_2)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,12.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,1.42,0.0
...,...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,8.30,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,8.30,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,8.30,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,8.30,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,8.30,NaN

### Calcular Indicadores

In [ ]:
#PAREI EM 22/03/2025

# value counts
#Quantas transações eu tive por loja
transacoes_loja = vendas_df[['ID Loja','Data']].value_counts()
display(transacoes_loja)

ID Loja                     Data
Norte Shopping              2019-07-04    39
Shopping Recife             2019-08-20    37
Shopping Vila Velha         2019-01-27    35
                            2019-08-19    35
Shopping União de Osasco    2019-05-14    31
                                          ..
Shopping Center Interlagos  2019-07-29     1
Salvador Shopping           2019-10-17     1
Shopping SP Market          2019-09-14     1
Salvador Shopping           2019-11-15     1
Parque Dom Pedro Shopping   2019-03-04     1
Length: 8304, dtype: int64

In [ ]:
#Save a file
transacoes_loja.to_csv("Trans_data_loja.csv")

In [ ]:
# group by
#Faturamento total por produto
faturamento_produto = vendas_df.groupby('Produto').sum()
#faturamento_produto = vendas_df[['Produto', 'Valor Unitário','Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

,Código Venda,Quantidade,Valor Unitário,Valor Final,Comissão
Produto,,,,,
Bermuda,25770079,1692,116100,253800,5076.00
Bermuda Estampa,24703185,1616,127257,273104,5462.08
Bermuda Linho,28670449,1893,167115,369135,7382.70
Bermuda Liso,25053304,1637,120262,257009,5140.18
Bermuda Listrado,25576302,1675,129259,273025,5460.50
...,...,...,...,...,...
Tênis Estampa,25479194,1663,200704,425728,8514.56
Tênis Linho,25535255,1713,232848,503622,10072.44
Tênis Liso,26076935,1656,205086,440496,8809.92
Tênis Listrado,25533339,1737,207766,455094,9101.88
Tênis Xadrez,26118680,1661,205905,430199,8603.98

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [ ]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
display(gerentes_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [ ]:
#Método de mesclar dois dataframes
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,4.64,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,7.26,Salvador
...,...,...,...,...,...,...,...,...,...
93905,64922,2019-11-30,Salvador Shopping,Casaco Listrado,1,269,269,5.38,Mateus
93906,64922,2019-11-30,Salvador Shopping,Camiseta Xadrez,4,200,800,16.00,Mateus
93907,64982,2019-11-30,Salvador Shopping,Cueca Linho,5,93,465,9.30,Mateus
93908,64982,2019-11-30,Salvador Shopping,Terno Liso,1,720,720,14.40,Mateus
93909,64982,2019-11-30,Salvador Shopping,Chinelo Liso,3,71,213,4.26,Mateus

In [ ]:
#Desafio
#Verificar se algum registro ficou sem informação de gerente?